@import "tailwindcss";
@import "../styles/components.css";

:root {
  --primary-color: #650e0e;
  --secondary-color: #ededed;
  --tertiary-color: #d22727;
}

@theme inline {
  --color-background: var(--primary-color);
  --color-foreground: var(--secondary-color);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ededed;
    --secondary-color: #650e0e;
  }
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
}
